.ccontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: solid; */
}

.witdh {
    width: 420px;
    height: 420px;
    margin: 5px;
    border: 3px solid orangered;
    border-radius: 20px;
    background-color: white;
    opacity: 95%;
}

.text {
    color: black;
    text-decoration: none;
}

.textW {
    color: red;
}